.menu-list{
    position: absolute;
    top:82px;
    background-color: white;
    border-top-left-radius: 18px;
}
.menu-h{
    margin: 0;
    text-align: center;
    margin: 15px 0px;
    
}
.menu-ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
.menu-ul li{
    padding: 14px;
}